
.card-container {
    width: 70%;
    border-radius: 10px;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1px ;
    box-shadow: 10px 10px 30px ;
}
.card {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: #888;
    padding: 10px;
}
.card p {
    font-size: 1.2em;
}